.movie-thumbnail{
    width:270px;
    margin:10px;
}

.movie-header{
    height:75px;
}


.movie-image{
    height:400px;
}

.movie-overview {
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}


.movie-overview::-webkit-scrollbar {
    width: 2px;
    backface-visibility: gray;
}

.movie-actions{
    text-align: right;

}
